<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>new user</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3" style="height: 63px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle fs-1">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                    </svg></span><span>User Management System</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-6"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6">
                <ul class="navbar-nav me-auto"></ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button class="btn btn-primary" type="button">Button</button></div>
            </div>
            <div class="d-none d-md-block"></div>
        </div>
    </nav><button class="btn btn-primary" type="button" style="margin-top: 47px;margin-left: 60px;">&lt;&lt;&nbsp; All Users</button>
    <h1 class="fs-3 text-primary" style="margin-top: -29px;margin-left: 475px;border-radius: 0px;--bs-body-bg: #d52121;"><strong>New User Registration</strong></h1>
    <h1 class="fs-4 text-black-50" style="margin-left: 363px;">Use the below form to create a new account</h1>
    <h1 class="fs-4 text-success" style="margin-top: 46px;margin-left: 136px;padding: 0px;padding-right: 0px;margin-right: 0px;">Name</h1><input type="text" style="margin-top: -85px;margin-left: 137px;padding-right: 281px;">
    <h1 class="fs-4 text-success" style="margin-left: 136px;margin-top: 13px;">Email</h1><input type="text" style="margin-top: 0px;margin-left: 139px;padding-right: 281px;">
    <h1 class="fs-4 text-success" style="margin-top: 12px;margin-left: 134px;">Gender</h1>
    <div class="form-check fs-4 text-danger" style="margin-left: 227px;"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Male</label></div>
    <div class="form-check fs-4 text-danger" style="margin-left: 227px;"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Female</label></div>
    <h1 class="fs-4 text-success" style="margin-top: 12px;margin-left: 134px;">Status</h1>
    <div class="form-check fs-4 text-danger" style="margin-left: 227px;"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Active</label></div>
    <div class="form-check fs-4 text-danger" style="margin-left: 227px;"><input class="form-check-input" type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-4">In-Active</label></div><button class="btn btn-primary fs-4" type="button" style="margin-left: 148px;margin-right: 0px;padding-right: 125px;padding-left: 137px;padding-top: 2px;padding-bottom: 2px;margin-top: 28px;margin-bottom: 80px;">Submit Registration</button>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>